<body class="bg-color">
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Register</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <!-- <h3 class="mb-4 text-center">Have an account?</h3> -->
                        <form [formGroup]="signupForm" class="signin-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username"
                                    formControlName="username"
                                    [class.is-invalid]="submitted && signupForm.get('username')?.invalid">
                                <div class="invalid-feedback"
                                    [hidden]="signupForm.controls['username'].valid || (signupForm.controls['username'].pristine && !submitted)">
                                    <div>Username is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                    [class.is-invalid]="submitted && signupForm.get('email')?.invalid">
                                <div class="invalid-feedback"
                                    [hidden]="signupForm.controls['email'].valid || (signupForm.controls['email'].pristine && !submitted)">
                                    <div>Email is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="password-field" [type]="toggle ? 'text' : 'password'" class="form-control"
                                    placeholder="Password" formControlName="password"
                                    [class.is-invalid]="submitted && signupForm.get('password')?.invalid">
                                <i class="bi bi-eye-slash" id="toggle-password"
                                    (click)="togglePassword(signupForm.get('password'))"
                                    [ngClass]="{'bi-eye': toggle}"></i>
                                <div class="invalid-feedback"
                                    [hidden]="signupForm.controls['password'].valid || (signupForm.controls['password'].pristine && !submitted)">
                                    <div *ngIf="signupForm.controls['password'].errors?.['required']">Password is
                                        required</div>
                                    <div *ngIf="signupForm.controls['password'].errors?.['minlength']">Please enter
                                        minimum 6 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3"
                                    (click)="signup()">Sign up</button>
                            </div>
                            <!-- <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                            </div> -->
                        </form>
                        <p class="w-100 text-center">Already a user?
                            <a routerLink="/login">Login here</a>
                        </p>
                        <!-- <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                                Facebook</a>
                            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>
                                Twitter</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>